// COLORS
$primary-color: #F09024;
$secondary-color: #F09024;

$white-color: #fff;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$complimentary-blue: #808080;

$complimentary-green: #0c7d6a;

$dark-blue-text: #333333; // For Headings
$dark-grey-text: #333333;

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
